{% extends 'layout.html' %}

{% block content %}
<style>
    .nav {
        margin-top: 8px;
        display: flex;
        background-color: #E1E1E1;
        padding: 0px auto;
        border-radius: 10px;
        list-style: none;
        justify-content: center;
    }

    .nav li a {
        margin: auto 20px;
        color: black;
    }

    .nav li a:hover {
        background-color: gray;
    }

    * {
        font-family: "Kanit", sans-serif;
    }

    .card {
        display: block;
        margin: 10px 10px 10px;
        padding: 10px;

    }
</style>
<h2 align="center">ลงชื่อเข้าใช้</h2>

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <b>{{message}}</b>
    {% endfor %}
</div>
{% endif %}

<b>{{message}}</b>


<form action="/login/" method='POST'>{% csrf_token %}
    <div class="form-group">
            <label for="">Username</label>
            <input type="text" class="form-control" name='username'>
    </div> 
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name='password'>
    </div>  
    <input type="submit" value="login" class="btn btn-primary">
</form>


{% endblock %}